body, html {
  margin: 0;
  pointer-events: none;
}

#app {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate3d(-50%, -50%, 0);
  text-align: center;
  text-align: center;
  color: #2c3e50;
  font-family: monospace;
  font-weight: bold;
}
#timer {
  font-size: var(--timer-font-size);
  text-align: center;
}

#counter {
  font-size: var(--counter-font-size);
}

#dots {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-left: var(--dots-margin-left);
  margin-top: var(--dot-font-size);
  width: var(--dots-width);
}

.dot {
  width: var(--dot-width);
  height: var(--dot-width);
  margin-right: var(--dot-margin);
  margin-bottom: var(--dot-margin);
  background-color: #2c3e50;
  border-radius: 50%;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: var(--dot-font-size);
}
.dot.enabled {
  display: flex;
}

.active {
  background-color: red;
}

.text-yellow {
  color: orange;
}
.text-green {
  color: green;
}
